{% extends 'templates/layout.twig' %}
{% block content %}
    <section class="col col-lg-12">
        <div class="container">
            <div class="row">
              <p> 404 Page non trouvé :( !</p>
            </div>

        </div>
    </section>
{% endblock %}